#featured-solutions {
  margin-top: -83px;
  min-height: 240px;
  .featured-solution {
    .make-sm-column(6);
    .make-md-column(3);

      a:hover {
        text-decoration: none;
      }

  }
  .featured-solution-inner {
    overflow: hidden;
    &:hover {
      overflow: hidden;
      .featured-solution-title {
        .fade-transition(.5s);
        border-top: 6px #05dcf6 solid;
        border-left: 6px #05dcf6 solid;
        border-right: 6px #05dcf6 solid;
      }
      .featured-solution-content .screen-over {
        border-bottom: 6px #05dcf6 solid;
        border-left: 6px #05dcf6 solid;
        border-right: 6px #05dcf6 solid;
        .fade-transition(.5s);
      }
    }
  }
  .featured-solution-title {
    text-transform: uppercase;
    .fade-transition(.5s);
    border-top: 6px transparent solid;
    border-left: 6px transparent solid;
    border-right: 6px transparent solid;
    background: #fff;
    padding: 5px 10px 5px 10px;
    height: 73px;
    position: relative;
    h5 {
      font-size: 14px;
      font-weight: 500;
      margin: 0px;
      color:#404041;
    }
    img{
      width:15px;
    }

    .arrows {
      position: absolute;
      bottom: 5px;
    }
  }

  .featured-solution-content {

    position: relative;
    .screen-over {
      .fade-transition(.5s);
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      border-bottom: 6px transparent solid;
      border-left: 6px transparent solid;
      border-right: 6px transparent solid;
    }
    p {
      margin: 0px;
    }
    .fade-transition(.5s);
  }


  .unbroken-title{
    display:none;
  }

}