header {
  // top menu
  #mini-nav-section {
    background: url('../images/top-menu-bg.png');
    border-radius: 0px;
    height: 30px;

    // inline menu
    nav li {
      float: left;
    }

    // fonts
    font-size: 11px;
  }

  // main nav
  #main-nav-section {
    // nav bar padding
    .navbar {
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .navbar-brand {
      padding: 0px;
    }

    #main-nav {
      padding-top: 6px;
    }
  }
}

.main-banner-slides {
  .next-toggle, .previous-toggle {
    top: 30%;
  }
  .next-toggle {
    left: auto;
    right: -20%;
  }
  .previous-toggle {
    left: -20%;
  }
  // put carousel indicators on bottom left
  .carousel-indicators {
    left: 0px;
    bottom: 0px;
    margin-left: 0px;
    text-align: left;
    li {
      margin-right: 15px;
    }
  }
  #home-slides {
    padding-bottom: 20px;
  }
}

// carousel indicators with titles
#home-slides {
  .indicator-titles {
    position: relative;
    width: auto;
    padding: 0px;
    margin: 0px;
    li {
      position: relative;
      list-style: none;
      list-style-type: none;
      width: auto;
      height: auto;
      text-indent: 0px;
      border: 0 none;
      border-radius: 0px;
      background-color: transparent;
      padding: 0 20px 4px 20px;
      margin: 0px 20px 0px 0px;
      display: inline;
    }
  }
  .carousel-titles {
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
    &:after {
      border-bottom: 1px solid #fff;
      content: " ";
      padding-bottom: 0px;
      width: 100%;
      height: 8px;
      display: block;
    }
    .carousel-indicators {
      bottom: auto;
      top: 10px;
      right: 0px;
      left: auto;
    }
  }
}

#slider-carousel-row {
  .ruler-bg-top();
  .ruler-bg-bottom();
}

.page-headline-inner {
  .ruler-bg-top();
  .ruler-bg-bottom();
  .container {
    padding-bottom: 20px;
  }
}

#customer-support,
#about-pason {
  padding-top:5px;
}

/* homepage news and events articles styling */
.home {
  main {
    // the readmore link on the homepage
    .readmore {
      border-top: 1px solid #fff;
      > a {
        .btn-block();
        text-align: left;
      }
    }

    .item {
      .item-intro-inner {
        position: relative;
        padding: 15px 15px 0px 15px;
        border: 5px solid @pason-gray;
        background: @pason-gray;
        z-index: 1;
        .fade-transition(0.5s);
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          border: 1px solid #FFFFFF;

        }
        &:hover {
          border: 5px solid @pason-cyan;
          background: @pason-cyan;
        }
      }
    }
  }

  footer {
    &:before {
      background: url('../images/ruler-bg-up-gray.png') repeat-x !important;
      padding-top: 10px;
      width: 100%;
      height: 10px;
      position: relative;
      content: " ";
      display: table;
    }
  }
}

#product-info-links {
  li > a {
    background: #e7e7e8;
    color: #282828;
    &:hover {
      background: #282828;
      color: #fff;
    }
  }
}

main {
  margin-bottom: 30px;
}

footer {
  color: @pason-orange;
  p {
    line-height: @navbar-height;
  }
}

.customer-support-row,
.about-pason-row {
  &:before {
    background: url('../images/ruler-bg-up.png') repeat-x !important;
    padding-top: 10px;
    width: 100%;
    height: 10px;
    margin-top: 50px;
    position: relative;
    content: " ";
    display: table;
  }
  &:after {
    background: url('../images/ruler-bg-down.png') repeat-x !important;
    padding-top: 10px;
    width: 100%;
    height: 10px;
    margin-bottom: 50px;
    position: relative;
    content: " ";
    display: table;
  }
}


.ruler-bg-top {
  &:before {
    background: url('../images/ruler-bg-up-light.png') repeat-x;
    padding-top: 30px;
    width: 100%;
    height: 10px;
    margin-top: 50px;
    position: relative;
    content: " ";
    display: table;
  }
}

.ruler-bg-bottom {
  &:after {
    background: url('../images/ruler-bg-down-light.png') repeat-x;
    padding-top: 30px;
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
    position: relative;
    content: " ";
    display: table;
  }
}