header {
  #mini-nav-section {
    background: url('../images/top-menu-bg.png');
    border-radius: 0px;

    // inline menu
    nav li {
      float: left;
    }
  }
  .navbar-brand {
    padding: 0px;
  }
}

#slider-carousel-row {
  .ruler-bg-top();
  .ruler-bg-bottom();
}

#customer-support,
#about-pason {
  padding-top:5px;
}

/* homepage news and events articles styling */
.home {
  main {
    // the readmore link on the homepage
    .readmore {
      border-top: 1px solid #fff;
      > a {
        .btn-block();
        text-align: left;
      }
    }

    .item {
      .item-intro-inner {
        position: relative;
        padding: 15px 15px 0px 15px;
        border: 5px solid @pason-gray;
        background: @pason-gray;
        z-index: 1;
        .fade-transition(0.5s);
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          border: 1px solid #FFFFFF;

        }
        &:hover {
          border: 5px solid @pason-cyan;
          background: @pason-cyan;
        }
      }
    }
  }

  footer {
    &:before {
      background: url('../images/ruler-bg-up-gray.png') repeat-x !important;
      padding-top: 10px;
      width: 100%;
      height: 10px;
      position: relative;
      content: " ";
      display: table;
    }
  }
}

main {
  margin-bottom: 30px;
}

footer {
  color: @pason-orange;
  p {
    line-height: @navbar-height;
  }
}

.customer-support-row,
.about-pason-row {
  &:before {
    background: url('../images/ruler-bg-up.png') repeat-x !important;
    padding-top: 10px;
    width: 100%;
    height: 10px;
    margin-top: 50px;
    position: relative;
    content: " ";
    display: table;
  }
  &:after {
    background: url('../images/ruler-bg-down.png') repeat-x !important;
    padding-top: 10px;
    width: 100%;
    height: 10px;
    margin-bottom: 50px;
    position: relative;
    content: " ";
    display: table;
  }
}


.ruler-bg-top {
  &:before {
    background: url('../images/ruler-bg-up-light.png') repeat-x;
    padding-top: 30px;
    width: 100%;
    height: 10px;
    margin-top: 50px;
    position: relative;
    content: " ";
    display: table;
  }
}

.ruler-bg-bottom {
  &:after {
    background: url('../images/ruler-bg-down-light.png') repeat-x;
    padding-top: 30px;
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
    position: relative;
    content: " ";
    display: table;
  }
}

/*
.ruler-bg-top-dark {
  .ruler-bg-top();
  &:before {
    background: url('../images/ruler-bg-up.png') repeat-x !important;
  }
}

.ruler-bg-bottom-dark {
  .ruler-bg-bottom();
  &:after {
    background: url('../images/ruler-bg-down.png') repeat-x !important;
  }
}
*/