header {
  // top menu
  #mini-nav-section {
    background: url('../images/top-menu-bg.png');
    border-radius: 0px;
    height: 30px;

    // inline menu
    nav li {
      float: left;
    }

    // fonts
    font-size: 11px;
  }

  // main nav
  #main-nav-section {
    // nav bar padding
    .navbar {
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .navbar-brand {
      padding: 0px;
    }

    #main-nav {
      padding-top: 6px;
    }
  }
}

.main-banner-slides {
  .next-toggle, .previous-toggle {
    top: 30%;
  }
  .next-toggle {
    left: auto;
    right: -20%;
  }
  .previous-toggle {
    left: -20%;
  }
  // put carousel indicators on bottom left
  .carousel-indicators {
    left: 0px;
    bottom: 0px;
    margin-left: 0px;
    text-align: left;
    li {
      margin-right: 15px;
    }
  }
  #home-slides {
    padding-bottom: 20px;
  }
}

// carousel indicators with titles
#home-slides {
  .indicator-titles {
    position: relative;
    width: auto;
    padding: 0px;
    margin: 0px;
    li {
      position: relative;
      list-style: none;
      list-style-type: none;
      width: auto;
      height: auto;
      text-indent: 0px;
      border: 0 none;
      border-radius: 0px;
      background-color: transparent;
      padding: 0 20px 4px 20px;
      margin: 0px 20px 0px 0px;
      display: inline;
    }
  }
  .carousel-titles {
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
    &:after {
      border-bottom: 1px solid #fff;
      content: " ";
      padding-bottom: 0px;
      width: 100%;
      height: 8px;
      display: block;
    }
    .carousel-indicators {
      bottom: auto;
      top: 10px;
      right: 0px;
      left: auto;
    }
  }
}

#slider-carousel-row {

}

.light-ruler-top {
  .ruler-bg-top();
}

.light-ruler-bottom {
  .ruler-bg-bottom();
}


.page-headline-inner {
  .ruler-bg-top();
  .ruler-bg-bottom();
  .container {
    padding-bottom: 20px;
  }
}

#customer-support,
#about-pason {
  padding-top:5px;
}

/* homepage news and events articles styling */
.home {
  main {
    // the readmore link on the homepage
    .readmore {
      border-top: 1px solid #fff;
      > a {
        .btn-block();
        text-align: left;
      }
    }

    .item {
      .item-intro-inner {
        position: relative;
        padding: 15px 15px 0px 15px;
        border: 10px solid @pason-gray;
        background: @pason-gray;
        z-index: 1;
        .fade-transition(0.5s);
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          border: 1px solid #FFFFFF;

        }
        &:hover {
          border: 10px solid @pason-cyan;
          background: @pason-cyan;
        }
      }
    }
  }
}

#product-info-links {
  .sidebar-nav();
}

.sidebar-nav {
  .list-unstyled();
  .nav();
  > li {
    margin-bottom: 10px;
    &:before {
      content: "";
      background: url('../images/product-menu-bg-left.png') no-repeat;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 4px;
      height: 25px;
      z-index: 999;
    }
    &:after {
      content: "";
      background: url('../images/product-menu-bg-right.png') no-repeat;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 4px;
      height: 25px;
      z-index: 999;
    }
    > a {
      background: url('../images/product-menu-arrow.png') no-repeat  96% center #e7e7e8;
      color: #282828;
      padding: 0px 15px;
      &:hover, &:focus, &.active {
        background: url('../images/product-menu-arrow-hover.png') no-repeat  96%  center #282828;
        color: #fff;
      }
    }
  }
  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus {
    background: url('../images/product-menu-arrow-hover.png') no-repeat  96%  center #282828;
    color: #fff;
  }
}

#main-content {
  .make-lg-column(12);
  .make-md-column(12);
  .make-sm-column(12);
  .make-xs-column(12);
}

main {
  margin-bottom: 30px;
  margin-top: 10px;

  .main-row, .products-list {
    .make-row();
  }

  #left-column {
    .make-lg-column(4);
    .make-md-column(4);
    .make-sm-column(4);
    .make-xs-column(4);

    .make-lg-column-pull(8);
    .make-md-column-pull(8);
    .make-sm-column-pull(8);
    .make-xs-column-pull(8);
  }

  #right-column {
    .make-lg-column(4);
    .make-md-column(4);
    .make-sm-column(4);
    .make-xs-column(4);
  }

  .hasLeft {
    #main-content {
      .make-lg-column(8);
      .make-md-column(8);
      .make-sm-column(8);
      .make-xs-column(8);

      .make-lg-column-push(4);
      .make-md-column-push(4);
      .make-sm-column-push(4);
      .make-xs-column-push(4);
    }
  }

  .hasRight {
    #main-content {
      .make-lg-column(8);
      .make-md-column(8);
      .make-sm-column(8);
      .make-xs-column(8);
    }
  }
}

.product-categoires-inline {
  .nav();
  .nav-pills();
  .nav-justified();
  .sidebar-nav();
  padding-top: 25px;
  padding-bottom: 25px;
  text-transform: uppercase;
  > li {
    display: table-cell;
    padding: 0 10px;
    // we don't need spacing on first & last items
    &:first-child {
      padding-left: 0px;
    }
    &:last-child {
      padding-right: 0px;
    }
    // move the right and left background images in 10px because of padding
    &:before {
      left: 10px;
    }
    &:after {
      right: 10px;
    }
    // we don't need the extra padding on first & last
    &:first-child:before {
      left: 0px;
    }
    &:last-child:after {
      right: 0px;
    }
  }
  > li > a {
    .border-left-radius(0);
    .border-right-radius(0);
    .border-top-radius(0);
    .border-bottom-radius(0);
    background: #282828;
    color: #fff;
  }
  > li {
    &:before {
      background: url('../images/product-menu-bg-left.png') no-repeat;
    }
    &:after {
      background: url('../images/product-menu-bg-right.png') no-repeat;
    }
  }
  > li.active {
    &:before {
      background: url('../images/product-categories-nav-left.png') no-repeat;
    }
    &:after {
      background: url('../images/product-categories-nav-right.png') no-repeat;
    }
    a {
      background:  @pason-orange;
      &:after {
        content: " ";
        background: url('../images/main-nav-hover-down-arrow-bg.png') no-repeat;
        position: absolute;
        bottom: -6px;
        display: block;
        width: 11px;
        height: 6px;
        left: 50%;
      }
    }
  }
  // hover & focus

  > li.active:hover,
  > li.active:focus,
  > li:hover,
  > li:focus {
    &:before {
      background: url('../images/product-categories-nav-left.png') no-repeat;
    }
    &:after {
      background: url('../images/product-categories-nav-right.png') no-repeat;
    }
    > a {
      background: @pason-cyan;
      &:after {
        content: " ";
        background: transparent;
      }
    }
  }

}

.products-list {
  .item {
  padding: 10px;
    .page-header {
      position: absolute;
      left: 15px;
      margin: 0px;
      top: 15px;
      border: 0px none;
    }
    img {
      .img-responsive();
    }
    .hover {
      position: absolute;
      top: 0px;
      opacity: 0;
    }
  }
  .product-link {
    border: 10px solid #e7e7e8;
    display: block;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      background: url('../images/product-link-icon.png') no-repeat;
      bottom: 15px;
      left: 15px;
    }
    &:hover {
      .fade-transition(0.5s);
      border: 10px solid @pason-cyan;
      img.hover {
        opacity:1;
        .fade-transition(0.5s);
      }
      &:after {
        .fade-transition(0.5s);
        background: transparent;
      }
    }
  }
}

// product title
.product-title-row {
  .make-row();
  position: relative;
  &.single {
    margin-top: -144px;
  }
  &.double {
    margin-top: -144px;
  }
}

.product-detail {
  .page-header {

    border-bottom: 0px none;
  }
  .product-header-row {
    &:after {
      content: " ";
      background: url('../images/ruler-bg-down-orange.png') repeat-x;
      height: 5px;
      width: 100%;
      position: relative;
      display: block;
    }
  }

  .product-header-inner {
    margin-top: 70px;
  }
}

.popup-image-list {
  .popup-image-item {

  }
}

footer {
  font-size: 14px;
  color: @pason-orange;
  p {
    line-height: @navbar-height;
  }
  a {
    color: #565658;
  }
  &:before {
    background: url('../images/ruler-bg-up-gray.png') repeat-x !important;
    padding-top: 10px;
    width: 100%;
    height: 10px;
    position: relative;
    content: " ";
    display: table;
  }
}

.customer-support-row,
.about-pason-row {
  &:before {
    background: url('../images/ruler-bg-up.png') repeat-x !important;
    padding-top: 10px;
    width: 100%;
    height: 10px;
    margin-top: 50px;
    position: relative;
    content: " ";
    display: table;
  }
  &:after {
    background: url('../images/ruler-bg-down.png') repeat-x !important;
    padding-top: 10px;
    width: 100%;
    height: 10px;
    margin-bottom: 50px;
    position: relative;
    content: " ";
    display: table;
  }
}


.ruler-bg-top {
    background: url('../images/ruler-bg-up-light.png') repeat-x;
    padding-top: 20px;
    width: 100%;
    height: 13px;
    margin-top: 45px;
    position: relative;
    content: " ";
    display: table;
}

.ruler-bg-bottom {
    background: url('../images/ruler-bg-down-light.png') repeat-x;
    padding-top: 30px;
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
    position: relative;
    content: " ";
    display: table;
}